# Ignore node_modules folder
node_modules/

# Ignore npm debug logs
npm-debug.log

# Ignore Yarn's debug logs
yarn-debug.log*
yarn-error.log*

# Ignore environment variables file (optional, if you're using one)
.env

# Ignore the build folder (if applicable)
build/

# Ignore any temporary files
*.log

# Pycache
__pycache__/